@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

header {
  width: 100%;
  min-height: calc(100vh - 40px);
  height: auto;
}

nav {
  height: 70px;
  width: 100%;
  /* background-color: #F18F02; */
  border-bottom: 2px solid #f4f4f4;
}

.top_nav {
  background-color: #f4f4f4;
  height: 40px;
  width: 100%;
  font-size: 0.75em;
  font-weight: 500;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  height: 100%;
}

.top_nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language {
  padding-right: 10px;
}

.profile {
  padding-left: 15px;
  border-left: 1px solid #e1e1e1;
}

.language a {
  margin: 0 5px;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.logo {
  width: 200px;
}

.list_lg {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.list_lg li {
  margin: 0 10px;
}

.btn_application {
  border-radius: 3px;
  padding: 12px 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #f18f02), to(#e05d00));
  background: linear-gradient(90deg, #f18f02 20%, #e05d00 100%);
  color: #fff;
  font-weight: 600;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn_application:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 0 0 10px #00000029;
          box-shadow: 0 0 10px #00000029;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #f38200), to(#e06500));
  background: linear-gradient(90deg, #f38200 20%, #e06500 100%);
}

.search-form-field {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: none;
  width: 45px;
  margin: -0.1875rem 0 0 1em !important;
  padding: 0.125rem 0.9375rem 0.125rem 1.5625rem !important;
  border: 0 !important;
  border-radius: 15px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: url(../img/utilty-nav.svg) no-repeat left center/14px !important;
  color: #48454c !important;
  font-size: 0.8125rem !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../img/close_search.png);
  /*нафантазируйте в ФШ*/
}

.cards {
  height: auto;
  padding: 50px 0;
}

.cards_grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.card_fild {
  width: calc(100% - 20px);
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 16px 12px;
  margin: 0 auto;
}

.card_fild-img {
  border-radius: 4px;
  background-image: url(../img/azs_2.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 350px;
}

.card_fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_fild-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.card_fild-content {
  width: calc(100% - 350px);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fuel_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.card_fild-title {
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin-left: 20px;
}

.card_fild-fuel {
  font-weight: 600;
  margin-right: 10px;
  width: 75px;
}

.fuel_condition {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: auto;
}

.fuel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fuel_info span {
  font-weight: 500;
}

.fuel-title {
  margin-right: 5px;
  font-weight: 500;
}

.dimension {
  font-size: .75em;
  font-weight: 500;
}

.few {
  color: #F10202;
}

.normal {
  color: #F18F02;
}

.enough {
  color: #00FF47;
}

.not_activated {
  background-color: #737373;
}

.activated {
  background-color: #00FF47;
}

.hr_line {
  border: 1px solid #e8e8e8;
  margin: 5px 0;
}

.card_title_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.page_title,
.page_title_search .pipelines {
  text-transform: uppercase;
  margin: 0 10px;
}

.page_title-hr {
  margin: 10px 0;
  border: 1px solid #e8e8e8;
}

.active_lang {
  border-bottom: 1px solid #F18F02;
  color: #F18F02;
}

.select_lang .active_lang {
  border-bottom: 1px solid #F18F02;
  border-bottom: 1PX SOLID #FFF;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #f4f4f4;
}

.footer_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_title_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_title_search .search-form-field {
  border-bottom: 2px solid #e8e8e8 !important;
  border-radius: 0 !important;
}

.auth {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(147deg, #ffc33b 0%, #fd5c38 74%);
}

.wrapper_auth {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login,
.regist {
  margin-top: 20px;
  width: 350px;
  height: 50px;
  cursor: pointer;
}

.regist {
  margin: 20px 0;
}

.btn_style1 {
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #F18F02;
  font-size: 16px;
  font-weight: 600;
  color: #F18F02;
  display: block;
}

.btn_style2 {
  border-radius: 8px;
  background: linear-gradient(147deg, #ffc33b 0%, #ef6c07 74%);
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
}

.forgot {
  margin-top: 20px;
  color: #686868;
}

.auth_card {
  width: auto;
  min-height: 430px;
  text-align: center;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 14px 80px #00000057;
          box-shadow: 0px 14px 80px #00000057;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #ffba56;
}

.auth_img-card {
  width: 300px;
  height: 300px;
  position: relative;
  left: -80px;
  background-color: white;
  -webkit-box-shadow: 0px 14px 80px #00000057;
          box-shadow: 0px 14px 80px #00000057;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth_img-card img {
  height: 75%;
}

.input {
  height: 50px;
  width: 350px;
  border-radius: 8px;
  border: 1px solid #F18F02;
  padding: 0 40px 0 20px;
}

.auth_btn {
  text-align: left;
}

.input_div {
  margin-top: 20px;
  position: relative;
}

.input_div input {
  outline: none;
}

.input_div::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 20px;
  top: -10px;
  left: 28px;
  background-color: #fff;
  padding: 0 5px;
  color: #F18F02;
  font-size: 12px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  border-radius: 8px;
}

.input_pass::before {
  content: "Пароль";
}

.input_repass::before {
  content: "Павторите пароль";
}

.input_login::before {
  content: "E-mail";
}

.input_fam1::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "Фамилия";
}

.activated_img {
  position: absolute;
  background-color: #fff;
  top: -9px;
  left: 10px;
  z-index: 1;
  height: 18px;
  width: 18px;
}

.input_fam2::before {
  content: "Имя";
}

.input_fam3::before {
  content: "Отчество";
}

.input_iin::before {
  content: "ИИН";
}

.input_phone::before {
  content: "Номер телефона";
}

.input_bin::before {
  content: "БИН";
}

.input_date input {
  padding: 0 20px;
}

.input_date::before {
  content: "Дата рождения";
}

.input_file::before {
  content: "Ваша фотография   ";
}

.fileform {
  border-radius: 8px;
  border: 1px solid #F18F02;
  padding: 0 20px;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.fileform .selectbutton {
  background-color: #F18F02;
  border-radius: 8px;
  color: #FFFFFF;
  float: right;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  padding: 4px 16px;
  text-align: center;
  vertical-align: middle;
}

.fileform #upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 50px;
  z-index: 20;
}

.fileform #fileformlabel {
  background-color: #FFFFFF;
  float: left;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding: 2px;
  text-align: left;
  vertical-align: middle;
  width: 215px;
  font-size: 12px;
  color: #686868;
}

input::-webkit-date {
  color: red;
}

.vertical_min-hr {
  margin: 0 10px;
  height: 25px;
  width: 1px;
  border: none;
  background-color: #F18F02;
}

.min_label-div {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth_h2 {
  font-weight: 500;
}

.block {
  display: block;
}

.eye-open,
.eye-close {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: calc(100% - 38px);
  cursor: pointer;
}

.none {
  display: none;
}

.activated_description {
  font-size: 12px;
}

.termsOfUse {
  width: 350px;
  text-align: center;
  font-size: 12px;
  color: #686868;
}

.agreement {
  text-decoration: underline;
}

.profile_page {
  height: calc(100% - 110px);
  width: 100%;
}

.profile_line {
  background-color: #f4f4f4;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

.profile-img {
  width: 240px;
  height: 240px;
  background: url() no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.profile_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.profile-content {
  height: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile_user-info {
  margin-top: 10px;
}

.profile_user-info p {
  color: #686868;
  font-size: 12px;
}

.profile_user-info span {
  font-weight: 500;
}

.profile_full {
  margin-top: 40px;
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 12px 16px;
}

.profile_full-info {
  margin-top: 10px;
}

.profile_full-info .profile_full-title {
  display: inline-block;
  font-weight: 600;
  width: 200px;
}

.reset {
  margin-top: 20px;
  width: 350px;
  height: 50px;
  cursor: pointer;
}

.btn_style3 {
  border-radius: 8px;
  background: grey;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
}

.footer_btn {
  position: absolute;
  bottom: 0;
}

.reset_page {
  padding: 20px 0;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: block;
  border: 1px solid #F18F02;
  cursor: pointer;
  margin-right: 12px;
}

#chbox:checked + .checkbox {
  background-image: url(../img/chbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#chbox {
  display: none;
}

.chbox_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.chbox_title {
  cursor: pointer;
}

.reset_btn {
  margin-top: 20px;
  cursor: pointer;
  padding: 15.5px 32px;
}

.card_read {
  height: auto;
  width: 100%;
  padding: 50px 0;
}

.card_read-img {
  margin-top: 12px;
  height: 200px;
  max-width: 1340px;
  margin: 0 auto;
  background-image: url(../img/azs_2.jpg);
  border-radius: 4px 4px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.card_read-more {
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  border-radius: 0 0 8px 8px;
  padding: 50px 12px;
  position: relative;
  margin-bottom: 20px;
}

.card_read-min-img {
  background-image: url(../img/azs_2.jpg);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: calc(50% - 75px);
  top: -100px;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0px 0px 10px;
  box-shadow: 0px 0px 5px #00000063;
}

.card_read-more .card_fild-title {
  margin-bottom: 10px;
}

.my_azs {
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.card_read-fuel {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.card_read-fuel-info {
  margin-left: 20px;
}

.fuel_condition2 {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.fuel svg {
  margin-right: 10px;
  width: 28px;
}

.fuel_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  margin-right: 10px;
}

.fuel_info {
  height: 28px;
}

.card_read .fuel-title {
  width: 200px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #00569C !important;
  left: 0;
  top: -13px;
  background: white;
  position: absolute;
}

.autoplay {
  padding-bottom: 20px;
}

.azs_min {
  width: 150px !important;
  height: 150px !important;
  background-size: cover;
  border-radius: 4px;
  margin: 0 10px;
}

.azs_min1 {
  background-image: url(../img/azs_1.jpg);
}

.azs_min2 {
  background-image: url(../img/azs_2.jpg);
}

.azs_min3 {
  background-image: url(../img/azs_3.jpg);
}

.azs_min4 {
  background-image: url(../img/azs_4.jpg);
}

.azs_min5 {
  background-image: url(../img/azs_5.jpg);
}

.sel {
  font-size: 1rem;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
  height: 50px;
  width: 350px;
  border-radius: 8px;
  border: 1px solid #F18F02;
  padding: 0 40px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sel::before {
  position: absolute;
  content: url(../img/arrow.png);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #fff;
  right: 10px;
  top: calc(25% - 0.5em + 10px);
  height: 16px;
  width: 16px;
}

.sel__placeholder {
  display: block;
  font-family: 'Inter', sans-serif;
  color: #686868;
  font-size: 14px;
  text-align: left;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: visible;
  position: relative;
  font-weight: 200;
}

.sel__box {
  max-height: 180px;
  overflow: auto;
  border-radius: 0 0 10px 10px;
  margin-top: -4px;
}

.sel__box {
  position: absolute;
  top: calc(100% + 5px);
  left: 0px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  background-color: #FFF;
  width: calc(100% + 0px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px #00000029;
          box-shadow: 0px 2px 4px #00000029;
}

.sel__box__options {
  display: list-item;
  font-family: 'Inter', sans-serif;
  color: #000;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid #f4f4f4;
}

.sel__box__options:hover {
  background-color: #fbfbfb;
}

.sel.active::before {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.sel.active .sel__box {
  display: block;
  -webkit-animation: fadeInUp 500ms;
          animation: fadeInUp 500ms;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
  padding: 0;
  top: 0;
  width: 300px;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel_input {
  position: relative;
}

.sel_ta {
  height: 168px;
  outline: none;
  cursor: text;
  padding: 20px;
  font-size: 14px;
}

.sel1 {
  z-index: 4;
}

.sel2 {
  z-index: 3;
}

.sel3 {
  z-index: 2;
}

.sel_input::before {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 20px;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  color: #F18F02;
  font-size: 12px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

.sel1::before {
  content: "Город";
}

.sel2::before {
  content: "Станция";
}

.sel3::before {
  content: "Заявка";
}

.sel4::before {
  content: "Комментарии";
}

.sending_page {
  display: block;
  padding: 20px 0;
}

.sel__box::-webkit-scrollbar {
  width: 5px;
}

.sel__box::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.sel__box::-webkit-scrollbar-thumb {
  background-color: #F18F02;
}

.cards_history_grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  grid-gap: 20px;
}

.card_history_fild {
  width: calc(100% - 20px);
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 16px 12px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_history_fild-img {
  border-radius: 4px;
  background-image: url(../img/azs_2.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 260px;
}

.card_history_fild-content {
  width: calc(100% - 260px);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card_history_fild-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.card_history_fild-stat img {
  margin-right: 12px;
  height: 18px;
}

.fluel-xs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .fluel-xs {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .fluel-xs {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.eng,
.ru,
.kz {
  cursor: pointer;
}

.pipeline {
  width: 100%;
  height: 500px;
  background-color: #f4f4f4;
  border-radius: 4px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#content {
  padding: 16px;
}

.firstHeadingDanger {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FF5C5C;
  margin-bottom: 10px;
}

.firstHeadingNormal {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffa000;
  margin-bottom: 10px;
}

.firstHeadingStable {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8FFF00;
  margin-bottom: 10px;
}

.firstHeadingDanger img,
.firstHeadingNormal img,
.firstHeadingStable img {
  margin-right: 10px;
}

#bodyContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bodyContent p {
  font-style: 16px;
}

.alert_btnDanger {
  width: 250px;
  height: 40px;
  background-color: #FF0000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 15px;
}

.alert_btnNormal {
  width: 250px;
  height: 40px;
  background-color: #ffa000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 15px;
}

.alert_btnStable {
  width: 250px;
  height: 40px;
  background-color: #8FFF00;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 15px;
}

.btn_style2 {
  -webkit-transition: 1s all cubic-bezier(0.4, 0, 0.31, 0.31);
  transition: 1s all cubic-bezier(0.4, 0, 0.31, 0.31);
}

.btn_style2:hover {
  background: linear-gradient(147deg, #ffb714 0%, #ff5900 74%);
}

.eye-open:hover,
.eye-close:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.card_fild-img {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

.card_fild {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.card_fild:hover .card_fild-img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card_fild:hover {
  -webkit-box-shadow: 0px 0px 10px #00000014;
          box-shadow: 0px 0px 10px #00000014;
}

.bb {
  border-bottom: 1px solid #e05d00;
  padding-bottom: 2px;
  font-weight: 600;
}

.myGS,
.historyApplication,
.pipelines {
  -webkit-transition: 0.04s all ease;
  transition: 0.04s all ease;
}

.myGS:hover,
.historyApplication:hover,
.pipelines:hover {
  border-bottom: 1px solid #e05d00;
  padding-bottom: 2px;
}

.eng_before-city:before {
  content: 'City';
}

.eng_before-station:before {
  content: 'Station';
}

.eng_before-application:before {
  content: 'Application';
}

.eng_before-comments:before {
  content: 'Comments';
}

.eng_before-pass:before {
  content: 'Password';
}

.eng_before-rePass:before {
  content: 'Reset password';
}

.eng_before-a_lastname:before {
  content: 'Last name';
}

.eng_before-a_firstname:before {
  content: 'First name';
}

.eng_before-a_patronymic:before {
  content: 'Patronymic';
}

.eng_before-a_dob:before {
  content: 'Date of birth';
}

.eng_before-a_iin:before {
  content: 'IIN';
}

.eng_before-a_bin:before {
  content: 'BIN';
}

.eng_before-a_phone:before {
  content: 'Phone number';
}

.eng_before-a_photo:before {
  content: 'Your photo';
}

.kz_before-city:before {
  content: 'Қала';
}

.kz_before-station:before {
  content: 'Сатнция';
}

.kz_before-application:before {
  content: 'Тапсырыс';
}

.kz_before-comments:before {
  content: 'Пікір';
}

.kz_before-pass:before {
  content: 'Құпия сөз';
}

.kz_before-rePass:before {
  content: 'Құпия сөзді қайталаңыз';
}

.kz_before-a_lastname:before {
  content: 'Жөні';
}

.kz_before-a_firstname:before {
  content: 'Аты';
}

.kz_before-a_patronymic:before {
  content: 'Тегі';
}

.kz_before-a_dob:before {
  content: 'Туған жылы';
}

.kz_before-a_iin:before {
  content: 'ЖСН';
}

.kz_before-a_bin:before {
  content: 'БСН';
}

.kz_before-a_phone:before {
  content: 'Телефон номеріңіз';
}

.kz_before-a_photo:before {
  content: 'Фотосурет';
}

.ru_before-city:before {
  content: 'Город';
}

.ru_before-station:before {
  content: 'Станция';
}

.ru_before-application:before {
  content: 'Зявка';
}

.ru_before-comments:before {
  content: 'Комментарий';
}

.ru_before-pass:before {
  content: 'Пароль';
}

.ru_before-rePass:before {
  content: 'Повторите пароль';
}

.ru_before-a_lastname:before {
  content: 'Фамилия';
}

.ru_before-a_firstname:before {
  content: 'Имя';
}

.ru_before-a_patronymic:before {
  content: 'Отчество';
}

.ru_before-a_dob:before {
  content: 'Дата рождения';
}

.ru_before-a_iin:before {
  content: 'ИИН';
}

.ru_before-a_bin:before {
  content: 'БИН';
}

.ru_before-a_phone:before {
  content: 'Номер телефона';
}

.ru_before-a_photo:before {
  content: 'Ваша фотография';
}

.select_lang {
  position: absolute;
  top: 20px;
  right: 60px;
  cursor: pointer;
}

.select_lang a {
  margin-left: 10px;
  color: #fff;
  font-size: 0.8em;
}

.preloader {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*=loader] {
  position: relative;
  margin: 0 auto;
  cursor: wait;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader-beaker {
  width: 50px;
  height: 100px;
  border-radius: 5%;
  border: 0.15em solid #e05d00;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 0 0.2em 0 0.2em #ff984f;
          box-shadow: 0 0.2em 0 0.2em #ff984f;
  -webkit-animation: beaker 7s infinite;
          animation: beaker 7s infinite;
}

#toggle:checked ~ #sect .loader-beaker {
  -webkit-filter: drop-shadow(-0.2em 0.2em 0.2em rgba(14, 95, 118, 0.3)) url("#filter-goo2");
          filter: drop-shadow(-0.2em 0.2em 0.2em rgba(14, 95, 118, 0.3)) url("#filter-goo2");
  -webkit-animation: pour 5s infinite cubic-bezier(0.22, 0.01, 0.41, 0.54);
  animation: pour 5s infinite cubic-bezier(0.22, 0.01, 0.41, 0.54);
}

.loader-beaker:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -1.5em;
  top: 100%;
  width: 200px;
  height: 200px;
  background-color: #e05d00;
  border-radius: 66% 100% 100% 66%/50% 150% 100% 150%;
  -webkit-animation: waveRot 15s infinite cubic-bezier(0.22, 0.01, 0.41, 0.54);
  animation: waveRot 7.5s infinite cubic-bezier(0.22, 0.01, 0.41, 0.54);
}

.loader-beaker:after {
  content: "           100            75\a            50\a            25";
  white-space: pre;
  text-align: left;
  font-size: 0.5em;
  font-weight: bold;
  line-height: 2.3;
  color: #e05d00;
  position: absolute;
  left: 0;
  top: 0.8em;
  bottom: 0;
  right: 50%;
  mix-blend-mode: screen;
  background-image: repeating-linear-gradient(to bottom, #e05d00 0, #fff 1px, transparent 2px, transparent 9px);
  background-position-y: 0.9em;
}

@-webkit-keyframes beaker {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes beaker {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes waveRot {
  to {
    -webkit-transform: translateY(-70%) rotate(-1440deg);
            transform: translateY(-70%) rotate(-1440deg);
  }
}

@keyframes waveRot {
  to {
    -webkit-transform: translateY(-70%) rotate(-1440deg);
            transform: translateY(-70%) rotate(-1440deg);
  }
}

@-webkit-keyframes waveRot2 {
  to {
    -webkit-transform: translateY(-65%) rotate(-1080deg);
            transform: translateY(-65%) rotate(-1080deg);
  }
}

@keyframes waveRot2 {
  to {
    -webkit-transform: translateY(-65%) rotate(-1080deg);
            transform: translateY(-65%) rotate(-1080deg);
  }
}

@-webkit-keyframes pour {
  0%,
  90%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes pour {
  0%,
  90%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
/*# sourceMappingURL=style.css.map */